{% extends 'base.html' %}
{% block head %}
    <title>Clean Docin - Stay Naive</title>
    <meta name="description" content="A cleaner PDF reader of docin.com">
{% endblock head %}
{% block container %}
    <div class="row mt">
        <div class="col-lg-6 col-lg-offset-3 centered">
            <h1>Clean Docin</h1>
            <p>You can read documents from <a href="//www.docin.com">Docin.com</a>.
                <br/>Not support extracting PDF yet.
                <br/>Support downloading and off-line reading.
                <br/>This <a href="https://github.com/yzh461542788/mysite/tree/master/cleandocin">project</a> is part of this website indeed.</p>
            <hr>
        </div>
    </div>

    <div class="row mt">
        <div class="col-lg-4 col-lg-offset-4">
            <form role="form" action="/cleandocin/search/">
                <div class="form-group">
                    <input type="text" name="key" class="form-control centered" id="key" placeholder="Search documents">
                    <br>
                    <button type="submit" class="btn btn-success col-lg-offset-5 col-lg-2">GO</button>
                </div>
            </form>
        </div>
    </div><!-- /row -->
{% endblock container %}
