{% extends 'blog/base.html' %}
{% load static %}

{% block head %}
    <title>Blog - Stay Naive</title>
    <meta name="description" content="blog list">
{% endblock head %}

{% block container %}
    <div id="white">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    {% if title %}
                        <h1 class="col-lg-offset-10">
                            {{ title }}
                        </h1>
                    {% endif %}

                    {% for blog in blogs %}
                        <h1 class="title">{{ blog.title }}</h1>
                        <p>
                            <bd>
                                {{ blog.pub_date|date:'M'|upper }}
                                {{ blog.pub_date|date:"dS"|upper }},
                                {{ blog.pub_date.year }}
                            </bd>
                        </p>
                        <hr>
                        {% autoescape off %}{{ blog.brief_content }}{% endautoescape %}
                        <br>
                        <p>
                            <bt>TAGS:
                                {% for tag in blog.tags.all %}
                                    <a href="/blog/tag/{{ tag.slug }}">{{ tag.name }}</a>
                                {% endfor %}
                            </bt>
                        </p>
                        <p>
                        <a href="/blog/article/{{ blog.id }}">READ MORE</a>
                        </p>
                        <hr>
                    {% endfor %}
                </div>
            </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /white -->
{% endblock container %}