{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Projects - Stay Naive</title>
    <meta name="description" content="my projects list">
{% endblock head %}

{% block container %}
    <div class="container">
        <div class="row mt">
            {% for project in projects %}
                <div class="col-lg-6 col-lg-offset-3 centered">
                    <h1><a href="{{ project.url }}">{{ project.title }}</a></h1>
                    <p>{% autoescape off %} {{ project.description }} {% endautoescape %}</p>
                    <hr>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock container %}