<!DOCTYPE html>
{% load static %}
<html lang="zh-hans en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Zihao">
    <link rel="icon" type="image/x-icon" href="{% static "blog/img/favicon.png" %}">

    {% block head %}
        <!--head information such as title and meta-->
    {% endblock %}
    <!-- Bootstrap core CSS -->

    <link href="{% static "blog/css/bootstrap.css" %}" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="{% static "blog/css/main.css" %}" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static "blog/js/hover.zoom.js" %}"></script>
    <script src="{% static "blog/js/hover.zoom.conf.js" %}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Static navbar -->
<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Stay Naive</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/blog">Blog</a></li>
                <li><a href="/blog/category/">Category</a></li>
                <li><a href="/blog/projects/">Projects</a></li>
                <li><a href="/">Contact</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<!-- +++++ Container Section +++++ -->
{% block container %}
    <!--Must be rewrite-->
{% endblock container %}
<!-- +++++ Footer Section +++++ -->

<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>placeholder</h4>
                <p>
                    Not ready yet<br/>
                    But it looks ugly if removed <br/>
                </p>
            </div><!-- /col-lg-4 -->

            <div class="col-lg-4">
                <h4>My Links</h4>
                <p>
                    <a href="https://github.com/yzh461542788">GitHub</a><br/>
                    <a href="mailto:yzh461542788@gmail.com">Email</a><br/>
                </p>
            </div><!-- /col-lg-4 -->

            <div class="col-lg-4">
                <h4>About Theme</h4>
                <p>This cute theme was created by Stanley<br/>
                <a href="http://www.free-css.com">From free-css.com</a>
                </p>
            </div><!-- /col-lg-4 -->

        </div>

    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static "blog/js/bootstrap.min.js" %}"></script>
{% block end %}
    <!--a place to put scripts-->
{% endblock %}
</body>
</html>
